* {
    margin: 0;
    padding: 0;
}

html, body{min-height:100%;}
body{height:100vh;}

body {
    color: #4056A1;
    background-color: #C5CBE3;
    font-family: Merriweather;
}

nav {
    background-color: #4056A1;
    color: #EFE2BA;
    font-family: Raleway;
}

.nav-link {
    color: #EFE2BA;
    font-size: 24px;
}

.nav-link:hover {
    color:#F13C20;
}

.btn {
    color: #4056A1;
    border-color: #EFE2BA;
    background-color: #EFE2BA;
}

.btn:hover {
    background-color: #F13C20;
    color: #EFE2BA;
    border-color: #F13C20;
}

.btn[type="submit"] {
    font-weight: 700;
}

.banner-midia {
    background-color: #F13C20;
    color:#EFE2BA;
    border-radius: 25px;
}

.banner-midia p {
    font-size: 16px;
    font-weight: 700;
}

.social {
    color:#EFE2BA;
}

.banner-midia a:hover {
    color: #4056A1;
}

.contact-link {
    color:#EFE2BA;
}

h4, h5 {
    font-family: Raleway;
}

p {
    margin: 0;
}

.card {
    font-family: Merriweather;
    color: #EFE2BA;
    background-color: #4056A1;
    border: none;
    border-radius: 25px;
    overflow: hidden;
}

.form-control:focus {
    border: 3px solid #D79922;
    box-shadow: none;
    transition: border-color .15s ease-in-out,box-shadow .15s ease-in-out;
}

footer {
    background-color: #4056A1;
    color:#EFE2BA;
}