* {
    margin: 0;
    padding: 0;
}

html, body{min-height:100%;}
body{height:100vh;}

body {
    color: #4056A1;
    background-color: #C5CBE3;
    font-family: Merriweather;
}

nav {
    background-color: #4056A1;
    color: #EFE2BA;
    font-family: Raleway;
}

.nav-link {
    color: #EFE2BA;
    font-size: 24px;
}

.nav-link:hover {
    color:#D79922;
}

.btn {
    color: #4056A1;
    border-color: #EFE2BA;
    background-color: #EFE2BA;
}

.btn:hover {
    background-color: #D79922;
    color: #EFE2BA;
    border-color: #D79922;
}

.btn[type="submit"] {
    font-weight: 700;
}

h4, h5 {
    font-family: Raleway;
}

.card {
    font-family: Merriweather;
    color: #EFE2BA;
    background-color: #4056A1;
    border: none;
}


footer {
    background-color: #4056A1;
    color:#EFE2BA;
}